.about-app {
  margin: 60px 0 92px;
}

.about-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.about-app-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #333;
}

.about-app-title {
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 25px;
  line-height: 37.5px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 18px;

  width: 209px;
  height: 38px;
}

.about-app-text p {
  width: 300px;
  height: 70px;
  color: #6c6c72;

  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 40px;
}

.about-app-img-wrapper {
  width: 238px;
  height: 359px;
}

.about-app-img {
  width: 238px;
  height: 324px;
}

.about-app-base {
  width: 212px;
  height: 71px;
  margin-top: -39px;
  box-shadow: 0px 1px 10px 0px #0000001a;
  border-radius: 50%;
  color: white;
}

.about-app-card {
  margin: 20px 0;
  width: 343px;
  height: 110px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px #0000001a;
  display: flex;
  justify-items: center;
}

.about-app-card img {
  width: 20px;
  height: 20px;
  margin: 20px 20px 0 21px;
}

.about-app-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 16px;
}

.about-app-card-title {
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #232233;
}

.about-app-card-description {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  word-break: break-all;
  color: #6c6c72;
}

@media (min-width: 768px) {
  .about-app {
    margin: 120px 39px 92px 40px;
  }
  .about-app-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .about-app-title {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    width: 265px;
    height: 48px;
  }
  .about-app-text p {
    width: 450px;
  }
}
