.banner-hero-container {
  margin: 138px 0 0 16px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

/* opcional centrado */
.banner-hero-container {
  margin: 138px 0 0 0;
  align-items: center;
}
.banner-hero-container img {
  transform: translateX(100px);
}
/* --------------- */

.banner-download-wrapper {
  position: relative;
}

.banner-download-border {
  position: absolute;
  inset: 0;
  width: 323px;
  height: 358px;
  border: 10px solid #7572ff;
  transform: translate(20px, -20px);
  z-index: 0;
}

.banner-download-container {
  position: relative;
  width: 323px;
  height: 318px;
  background-color: white;
  padding: 18px;
  z-index: 1;
}

.banner-download.title {
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 25px;
  line-height: 37.5px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #5956e9;
}

.banner-download.description {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #6c6c72;
}

.banner-download.action {
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #232233;
}

.banner-download-img {
  height: 34.13px;
  width: 228px;
  position: relative;
  overflow: hidden;
}

.banner-download-img img {
  width: 108.19px; /* la imagen puede ser más grande */
  height: 34.13px;
  object-fit: cover;
}

.banner-app-wrapper {
  overflow: hidden;
  height: 521px;
}

.banner-app-img {
  width: 466px;
  height: 521px;
}

@media (min-width: 768px) {
  .banner-hero-container {
    flex-direction: row;
    gap: 90px;
    margin: 303px 0 0 40px;
    align-items: center;
  }

  .banner-download-border {
    width: 375px;
    height: 381px;
    border: 18px solid #7572ff;
    transform: translate(15px, -33px);
    z-index: 0;
  }

  .banner-download-container {
    width: 356px;
    height: 318px;
  }

  .banner-app-img {
    width: 378px;
    height: 423px;
  }

  .banner-download-wrapper {
    width: 356px;
    height: 318px;
  }

  .banner-app-wrapper {
    width: 378px;
    height: 423px;
  }
}
